<h1><%= @card.name %></h1>
<br>
<ul>
<li>Element: <%=@card.element_type.titlecase%></li>
<br>
<li>Type: <%=@card.card_type%></li>
<br>
<li>Cost: <%=@card.cost%></li>
<br>
<li>Ability: <%=@card.ability%></li>
<br>
<li>Power: <%=@card.power%></li>
<br>
<li>Toughness: <%=@card.toughness%></li>
<br>
<br>
<li><%=@card.description%></li>
<br>
<li>Set: <%=@card.set_name%></li>
<br>
</ul>
<%=%>
<%=%>
